/*--------- GLOBAL ELEMENTS ----------*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap");

:root {
  --white: #ffffff;
  --orange: #fab637;
  --red: #ff4848;
  --brown: #cc6119;
  --grey: #eceff3;
  --black: #232628;
  --blue: #6c98e1;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif, Verdana, Geneva, Tahoma;
  font-size: 1rem;
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: "Montserrat", sans-serif, Verdana, Geneva, Tahoma;
}

p {
  font-family: "Open Sans", sans-serif, Verdana, Geneva, Tahoma;
  font-size: 1rem;
}

h2 {
  font-family: "Montserrat", sans-serif, Verdana, Geneva, Tahoma;
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
}

/*---------- HEADER ----------*/

.header {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  justify-content: center;
}
.header ul {
  display: flex;
  gap: 20px;
  padding: 30px 0px;
  margin: 0;
}
.header li {
  list-style: none;
  width: auto;
  display: flex;
  flex-direction: row;
}
.header h1 {
  text-transform: uppercase;
  color: var(--white);
  font-weight: bold;
  font-size: 2em;
  margin: 0;
  white-space: nowrap;
}
.header h2 {
  color: var(--brown);
  font-weight: bold;
  font-size: 0.75em;
  margin: 0;
}
.header address {
  color: var(--white);
  font-style: normal;
  text-transform: uppercase;
  font-size: 0.75em;
}
.header a {
  font-family: "Montserrat", sans-serif, Verdana, Geneva, Tahoma;
  font-weight: bold;
  color: var(--white);
  text-decoration: none;
  font-size: 1em;
}
.header span {
  text-transform: initial;
}
#headerSchedules {
  flex-direction: column
}
#address img {
  margin-right: 5px;
}
#iconHeader img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: var(--grey);
}
.white {
  color: var(--white);
}
.blue {
  color: var(--blue);
}
.grey {
  color: var(--grey);
}
.pictogram {
  width: 35px;
  height: 35px;
  margin-right: 5px;
  float: left;
}
.accessibility {
  position: absolute;
  left: -15000px;
}

/*---------- NAVIGATION ----------*/

#mainNav {
  background-color: var(--grey);
  position: absolute;
  height: 45px;
  width: 100%;
  top: 100px;
  padding-right: 100px;
}
#mainNav a {
  color: var(--black);
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px;
}
#mainNav ul {
  background-color: var(--grey);
  font-weight: bold;
  font-family: "Montserrat", sans-serif, Verdana, Geneva, Tahoma;
  list-style: none;
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0;
  justify-content: flex-end;
  align-items: center;
}
#mainNav li {
  font-size: 0.75em;
}
#mainNav li a:hover {
  background-color: var(--brown);
  color: var(--white);
}
#mainNav li a:active {
  background-color: var(--brown);
  color: var(--white);
}
#menuToggle {
  display: none; 
} 

/*---------- FOOTER ----------*/

.footer {
  position: fixed;
  bottom: 0;
  height: 250px;
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  font-family: "Open Sans", sans-serif, Verdana, Geneva, Tahoma;
  
}
.footer ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px 120px;
  margin: 0;
}
.footer li {
  list-style: none;
  width: auto;
}
.footer h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.footer p {
  font-size: 0.75em;
}
#iconFooter img {
  width: 35px;
  height: 35px;
  margin-right: 3px;
  background-color: var(--grey);
}
#newsletter img {
  height: 35px;
  width: 35px;
}
#newsletter div {
  display: flex;
  height: 35px;
  width: 200px;
  font-size: 0.75em;
}
#newsletter input {
  padding: 0;
  border: 0;
  width: 200px;
}
#copyright {
  text-align: center;
  grid-column: span 5;
  border-top: 1px var(--grey) solid;
}

/*---------- PAGE CONTENT ----------*/

#pageContent {
  display: flex;
}

#pageContent > h1 {
  text-transform: uppercase;
}


/*ul.breadcrumb {
  text-transform: uppercase;
  padding: 10px 16px;
  list-style: none;
  background-color: var(--white);
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li + li:before {
  padding: 3px;
  color: var(--black);
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: var(--black);
  text-decoration: none;
}*/

/*---------- CLASS ----------*/

/*---------- MEDIA QUERIES ----------*/

@media screen and (max-width: 768px) {
  #menuToggle {
    display: block;
    background-color: transparent;
    border: none;
    position: fixed;
    top: 30px;
    right: 5px;
    width: 60px;
    cursor: pointer;
  }
  .header {
    min-height: 200px;
  }
  .header ul {
    flex-direction: column;
    padding: 30px 20px 0px 20px;
    gap: 30px;
  }
  .header h1 {
    font-size: 3em;
    width: 300px;
  }
  .header h2 {
    font-size: 1em;
  }
  .header a {
    font-size: 1.5em;
  }
  .pictogram {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    float: left;
  }
  #mainNav {
    top: 200px;
    background-color: transparent;
    padding: 0;
  }  
  #mainNav ul{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 180px;
    width: 100%;
    position: relative;
    padding: 0;
  }
  #address, #headerSchedules, #iconHeader, #mainNav {
    display: none;
  }
  .footer {
    height: auto;
  }
  .footer ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px 20px;     
  }
  .footer h1 {
    font-size: 1.25em;
  }
  .footer p {
    font-size: 1.15em;
  }
  #iconFooter img {
    width: 60px;
    height: 60px;
    margin-right: 5px;
    background-color: var(--grey);
  }
  #newsletter img {
    height: 50px;
    width: 50px;
  }
  #newsletter div {
    height: 50px;
    width: 400px;
    font-size: 1.25em;  
  }
  #newsletter input {
    padding: 0;
    border: 0;
    width: 400px;
  }